* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  border-radius: 5vmin;
  transform-style: preserve-3d;
  transform: perspective(calc(100vmax *7.5));
  transition: transform 1s linear;
}
body, card, face{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: black;
}
card, face {
  position: relative;
  width: 75%;
  height: 75%;
  background: darkorange;
}
face {
  position: absolute;
  background: transparent;
  transform: translateZ(7.5vw);
}
face:last-child {
  transform: rotateY(.5turn);
}
span {
  line-height: 45vmin;
  color: black;
  font-weight: 900;
  font-size: 250%;
  transform: translateZ(12.5vw);
}
card:hover {
  transform: rotateY(.5turn);
}